<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="std" class="com.entity.Student">
        <property name="stud_id" value="100"/>
        <property name="stud_name" value="rahul"/>
        <property name="stud_age" value="120"/>
        <property name="stud_city" value="nashik"/>
        <property name="con" ref="c"/>
    </bean>

    <bean id="c" class="com.entity.Country">
        <property name="c_id" value="91"/>
        <property name="c_name" value="India"/>
    </bean>

</beans>
